# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.py~


# Environment
env/
venv/
ENV/
VENV/
.venv/
.ENV/

# VSCode
.vscode/

# PyCharm
.idea/

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/
staticfiles/

# Migrations
**/migrations/**

# Secrets
.env

# Coverage
htmlcov/
.coverage
coverage.xml

# MyPy
.mypy_cache/

# Build
build/
dist/
*.egg-info/

# Node (if using npm/yarn for frontend)
node_modules/

# pytest
.pytest_cache/
